# Public browser config
NEXT_PUBLIC_PASSPORT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_HTTP_RELAY_URL=https://httprelay.pubky.app/inbox

# Server-only config
GOOGLE_CLIENT_ID=
PASSPORT_SERVER_SECRET_BASE64=
HOMEGATE_URL=
